img#FlipsideView_125468237
{
	height: 420px;
	left: 0px;
	top: 40px;
	position: absolute;
	width: 320px;
}
a#FlipsideView_568091496
{
	height: 37px;
	left: 80px;
	top: 403px;
	position: absolute;
	width: 160px;
}
div#FlipsideView_242216480
{
	height: 460px;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 320px;
}
