div#MainView_246505055
{
	height: 21px;
	left: 20px;
	top: 20px;
	position: absolute;
	width: 280px;
}
div#MainView_1003368079
{
	height: 21px;
	left: 20px;
	top: 52px;
	position: absolute;
	width: 175px;
}
input#MainView_1048325611
{
	height: 31px;
	left: 203px;
	top: 49px;
	position: absolute;
	width: 97px;
}
div#MainView_878352564
{
	height: 21px;
	left: 20px;
	top: 92px;
	position: absolute;
	width: 175px;
}
input#MainView_274355449
{
	height: 31px;
	left: 203px;
	top: 89px;
	position: absolute;
	width: 97px;
}
input#MainView_588386899
{
	height: 31px;
	left: 203px;
	top: 128px;
	position: absolute;
	width: 97px;
}
div#MainView_631029710
{
	height: 21px;
	left: 20px;
	top: 131px;
	position: absolute;
	width: 175px;
}
a#MainView_1000893985
{
	height: 37px;
	left: 228px;
	top: 403px;
	position: absolute;
	width: 72px;
}
img#MainView_783994929
{
	height: 228px;
	left: 40px;
	top: 167px;
	position: absolute;
	width: 240px;
}
div#MainView_169245649
{
	height: 460px;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 320px;
}
