a#MainWindow_328191559
{
	height: 19px;
	left: 20px;
	top: 421px;
	position: absolute;
	width: 18px;
}
div#MainWindow_282269593
{
	height: 460px;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 320px;
}
